body {
    position:relative;
}


.has-background {
    background-size: cover;
}


.content-wrapper-default {
    min-height: calc(100vh);
    padding-top: 85px;
    padding-bottom: 85px;
    background-color: #c2c2c2;
}

.content-wrapper-parallax-header {
    padding-bottom: 85px;
}

.footer-default {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.card-list .card {
    margin-top: 10px;
    margin-bottom: 10px;
}